#filter {
  min-width: 150px;
}

.mat-table
{
  background-color: transparent !important;
}

.mat-column-id{
  max-width: 100px !important;
  min-width: 100px !important;
}

.row {
  overflow: auto;
}

table tr:last-child td /*To remove the last border*/
{
  border-bottom:0 solid
}

th.mat-header-cell {
  text-align: center !important;
}

